* {
    font-family: "Open Sans", sans-serif;
}

.no-results {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(97, 32, 32);
    margin: auto;
    text-align: center;
}

.head-container {
    display: flex;
    flex: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.head-subcontainer {
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.item-head {
    display: flex;
    flex: 100%;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1%;
}

.subItem-head {
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: left;
}
table {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    display: flex;
    flex: 100%;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}

.field {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

.value {
    font-size: large;
    font-weight: normal;
    margin-bottom: 10px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #000;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
    transition: 300ms;
}
.button:hover {
    background-color: #fff;
    color: #000;
}

.data {
    width: 100px;
    border-right: 1px solid black;
}

table,
thead,
tr {
    text-align: center;
    border-style: none;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    font-size: large;
    border-radius: 5px;
}
