{% extends 'base.html' %} {% block content %}
<div class="head-container">

    <h1>Result of  query </h1>
    <div class="head-subcontainer">

        <span class="query">{{command}}</span><br />
        <a href=/queries > Back to queries</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            {% for column in fields %}
            {% if column in foreign_keys %}
            <th><a class="foreign-key" href="/tables/{{foreign_keys_data[column]}}/data">{{column}}</a></th>
            {% else %}
            <th>{{ column }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    {% for x in data %}
    <tr>
        {% for column in fields %}
        {% if column in foreign_keys %}
        <td class="data"><a class="foreign-key" href="/tables/{{foreign_keys_data[column]}}/data/{{x[column]}}">{{x[column]}}</a></td>
        {% else %}
        <td class="data">{{x[column]}} </td>            
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

