{% extends 'base.html' %} {% block content %}
<div class="head-container">

    <h1>{{ table }}</h1>
    <div class="head-subcontainer">
        <span>Search result in {{ table }}</span><br />
        <a href=/tables/{{table}}/data > Back to table</a>
    </div>
</div>
{% if data %}
<table>
    <thead>
        <tr>
            <th >Button</th>
            {% for column in fields %}
            {% if column in foreign_keys %}
            <th><a class="foreign-key" href="/tables/{{foreign_keys_data[column]}}/data">{{column}}</a></th>
            {% else %}
            <th>{{ column }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    {% for x in data %}
    <tr>
        <td ><a class="button" href="/tables/{{table}}/data/{{x[fields[0]]}}"> View </a></td>
        {% for column in fields %}
        {% if column in foreign_keys %}
        <td class="data"><a class="foreign-key" href="/tables/{{foreign_keys_data[column]}}/data/{{x[column]}}">{{x[column]}}</a></td>
        {% else %}
        <td class="data">{{x[column]}} </td>            
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p class="no-results">No results found</p>
{% endif %}
{% endblock %}